<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wanderslapp.myapp" version="3.2.4" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>WanderSlapp</name>
    <description>Professional App</description>
    <author email="wonderfordisaac@gmail.com">WanderSlapp</author>

    <content src="index.html" />

    <!-- SPLASH SCREEN -->
    <icon src="www/icon.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/icon.png" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="AutoHideSplashScreen" value="true" />

    <!-- PLUGINS ZIMENE ZIKUPEZEKA MU NPM (Zilibe vuto la Permission) -->
    <!-- Local Notifications -->
    <plugin name="cordova-plugin-local-notification-12" spec="^1.0.1" />
    
    <!-- Background Mode -->
    <plugin name="cordova-plugin-background-mode-fixed" spec="^1.0.1" />
    
    <!-- SHARE INTENT (Izi zionetsa WanderSlapp pa ndandanda ya Share) -->
    <plugin name="cordova-plugin-openwith-2" spec="^1.0.0" />

    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
        
        <!-- SETUP YA SHARE INTENT -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </config-file>

        <!-- PERMISSIONS -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        </config-file>
    </platform>

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>