<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wanderslapp.myapp" version="3.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>WanderSlapp</name>
    <description>Professional App</description>
    <author email="wonderfordisaac@gmail.com">WanderSlapp</author>

    <content src="index.html" />

    <icon src="www/icon.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/icon.png" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="AutoHideSplashScreen" value="true" />

    <plugin name="cordova-plugin-local-notification" spec="https://github.com/katzer/cordova-plugin-local-notifications.git" />
    <plugin name="cordova-plugin-background-mode" spec="https://github.com/katzer/cordova-plugin-background-mode.git" />
    <plugin name="cordova-plugin-openwith-2" spec="https://github.com/clangen/cordova-plugin-openwith.git" />

    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
        </config-file>
    </platform>

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>

